<h1>{{userName}}'s Task:</h1>

<ul>
    <li>{{itemName}}</li>
    <li>{{itemId}}</li>
</ul>

<a href="/users/{{ userId }}/items"><button>Go back</button></a>
<a href="/users/{{ userId }}/items/{{itemId}}/edit"><button>Edit</button></a>