<main>

	<h2>You are viewing:

		{{donuts.name}}

	</h2>

	<a href="/">Return to Home Page</a>

	<div class="donut-container-show">
		<h2 id="donut-name">

				{{donuts.name}}

		</h2>

				<div>
					<img class="main-img" src="{{donuts.img}}">
				</div>

		<br>
		<h3>Description:</h3>
			<p>

				{{donuts.description}}

			</p><br>
		<h3>Price:</h3>
			<p id="cost">$

				{{donuts.price}} each</p><br>

			<h3 id="quantity">

	 				{{donuts.qty}} remaining

			</h3>

			<br>

			<a href="donuts/{{donuts._id}}/edit">

			{{!-- <<<< BONUS: BUTTON THAT UPDATES THE COUNT >>>> --}}

		</div>

	<form action="/donuts/{{donuts._id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
</main>
