<h1>These are all the fuggin pirates</h1>

<ul>
  {{#each pirates}}
    <li>name: {{name}}</li>
    <li>birthplace: {{birthplace}}</li>
    <li>death_year: {{death_year}}</li>
    <li>base: {{base}}</li>
    <li>nickname: {{nickname}}</li>
    <br>
  {{/each}}
</ul>