<h1>matey</h1>
<ul>
  {{#each pirates}}
    <li>name: {{name}}</li>
    <li>birthplace: {{birthplace}}</li>
    <li>death_year: {{death_year}}</li>
    <li>base: {{base}}</li>
    <li>nickname: {{nickname}}</li>
    <br>
  {{/each}}
</ul>

<a href="/pirates/new">Create a pirate</a>