<h1>show pirate</h1>
{{#if error}}
<h1>{{error}}</h1>
{{/if}}
<h1>{{ pirates.name }}</h1>
<h3>{{ pirates.birthplace }}</h3>
<h3>{{ pirates.death_year }}</h3>
<h3>{{ pirates.base }}</h3>
<h3>{{ pirates.nickname }}</h3>