<ul>  
    <li>name: {{pirateNum.name}}</li>
    <li>birthplace: {{pirateNum.birthplace}}</li>
    <li>death_year: {{pirateNum.death_year}}</li>
    <li>base: {{pirateNum.base}}</li>
    <li>nickname: {{pirateNum.nickname}}</li>
</ul>